* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0ffff;
    text-align: center;
}

hr {
    width: 100%;
    max-width: 564px;
    border-top: 2px solid #555;
    margin: 20px auto;
}

#heading {
    color: #4d3232;
    font-size: 40px;
    margin-bottom: 20px;
}

#board {
    width: 564px;
    height: 546px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.tile {
    width: calc(100% / 9);
    height: calc(546px / 9);
    border: 1px solid #968f8f;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d3d3d3;
    color: #2f4f4f;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.tile:hover {
    background-color: #a9a9a9;
}

#options {
    width: 564px;
    max-width: 564px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.option {
    width: calc(100% / 9);
    height: 54px;
    border: 1px solid #968f8f;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d3d3d3;
    color: #2f4f4f;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.option:hover {
    background-color: #f0f0f0;
}

.option div {
    border-right: 0.5px solid;
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option div:first-child {
    border-left: 0.5px solid;
}

.highlight {
    background-color: #ffdab9;
}

.tile:nth-child(3), .tile:nth-child(6), .tile:nth-child(12), .tile:nth-child(15), .tile:nth-child(21), .tile:nth-child(24), .tile:nth-child(30), .tile:nth-child(33), .tile:nth-child(39), .tile:nth-child(42), .tile:nth-child(48), .tile:nth-child(51), .tile:nth-child(57), .tile:nth-child(60), .tile:nth-child(66), .tile:nth-child(69), .tile:nth-child(75), .tile:nth-child(78){
    border-right: 2px solid black;
}

.tile:nth-child(19),
.tile:nth-child(20),
.tile:nth-child(21),
.tile:nth-child(22),
.tile:nth-child(23),
.tile:nth-child(24),
.tile:nth-child(25),
.tile:nth-child(26),
.tile:nth-child(27),
.tile:nth-child(46),
.tile:nth-child(47),
.tile:nth-child(48),
.tile:nth-child(49),
.tile:nth-child(50),
.tile:nth-child(51),
.tile:nth-child(52),
.tile:nth-child(53),
.tile:nth-child(54) {
    border-bottom: 2px solid black;
}




#reset,
#newGame {
    margin-top: 10px;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#reset:hover,
#newGame:hover {
    color: #ffffff;
}

#reset {
    background-color: #ffc0cb;
    color: #4d4d4d;
    border: 2px solid #ff69b4;
    margin-right: 10px;
}

#newGame {
    background-color: #ffc0cb;
    color: #4d4d4d;
    border: 2px solid #ff69b4;
    margin-left: 10px;
}

.highlightCurCell{
    background-color: #ADD8E6;;
}
